<header>
  <ng2-slim-loading-bar></ng2-slim-loading-bar>
  <div class="headeroverlay"></div>
  <div id="LogoDiv" >
    <img id="BrandLogo" src="../../assets/imgs/DonutsHubLogo.png" alt="">
    <!--<p id="BrandName" routerLink="/Home">Donuts Hub</p>-->
  </div>
  <div id="RightNavigation">
    <div class="Navtab" routerLink="/Home"><a >Home</a></div>
    <div class="Navtab" routerLink="/Catering"><a>Catering</a></div>
    <div class="Navtab" routerLink="/Aboutus"><a>Aboutus</a></div>
  </div>
</header>
