<div class="CateringBody">
  <div class="CateringContainer container">
    <form [formGroup]="CateringOrder" >
    <div class="Title">
      <p>
        Personal Details
      </p>
    </div>

      <!--personal details-->
      <div class="row">
        <div class="col-lg-6 ">
          <label for="usr">Name:</label>
          <input type="text" class="form-control" id="usr" required formControlName="username">
        </div>
        <div class="col-lg-6 ">
          <label for="num">Mobile Number:</label>
            <input type="text" class="form-control" id="num" required formControlName="mobilenumber">
        </div>
        <div class="col-lg-6 ">
          <label for="mail">Email:</label>
          <input type="email" class="form-control" id="mail" required formControlName="email">
        </div>
        <div class="col-lg-6 ">
          <label for="address">Delivery Address:</label>
          <input type="text" class="form-control" id="address" required formControlName="address">
        </div>
      </div>
      <!--catering order-->


    <div class="Title">
      <p>
        Catering order
      </p>
    </div>

      <div formArrayName="orders">
        <div *ngFor="let order of CateringOrder.controls.orders.controls; let i=index">
          <div>
            <p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Order {{i + 1}}</p>
            <i (click)="removeorder(i)"class="fa fa-times pull-right" aria-hidden="true" *ngIf="CateringOrder.controls.orders.controls.length > 1"></i>
          </div>
          <div [formGroupName]="i">
            <app-order [group]="CateringOrder.controls.orders.controls[i]"></app-order>
          </div>
        </div>
      </div>
      <div class="CateringAddMore" (click)="addorder()" >Add more <i class="fa fa-plus" aria-hidden="true"></i></div>
      <button (click)="sumbitOrder()" class="btn btn-primary CateringButton" type="submit">Submit</button>
      </form>

  </div>
</div>
<simple-notifications [options]="options"></simple-notifications>
