<div class="aboutusBody">
  <div class="aboutusContainer container-fluid">
    <div class="row">
      <div class="WhoAreWe col-lg-6">
        <div class="AboutUsTitle">WHO WE ARE</div>
        <div class="Content">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
            ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
            fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
            justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper
            nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
            Aliquam lorem ante, dapibus in, viverra quis, feugiat a,</p>

        </div>
      </div>
      <div class="WhatWeAre col-lg-6">
        <div class="AboutUsTitle">WHAT WE DO</div>
        <div class="Content">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
            ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
            fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
            justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper
            nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
            Aliquam lorem ante, dapibus in, viverra quis, feugiat a,</p>

        </div>
      </div>
    </div>

    <div class="Values">
      <div class="CoverOverlay"></div>
      <img class="Coverimg" src="../../assets/imgs/donutCover.jpg" alt="">
      <div class="AboutUsTitle">Values</div>
      <div class="row valuerow">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <img class="valuesimages" src="../../assets/imgs/high_quality.png" alt="">
          <h2>High quality</h2>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <img class="valuesimages" src="../../assets/imgs/integrity.png" alt="">
          <h2>Integrity</h2>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
      </div>
    </div>
    <div class="Vision">
      <div class="AboutUsTitle">Vision</div>
    </div>
    <div class="Ourstory">
      <div class="AboutUsTitle">Our story</div>
    </div>
    <div class="MeetTheTeam">
      <div class="AboutUsTitle">MeetTheTeam</div>
      <div class="Darwish">
        <p class="col-lg-8">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
          dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
          qu</p>
        <img style="float: right" class="col-lg-4" src="../../assets/imgs/darwish.png" alt="">
      </div>
      <div class="Hamouda">
        <img style="float: left" class="col-lg-4" src="../../assets/imgs/darwish.png" alt="">
        <p class="col-lg-8">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
          dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
          qu</p>
      </div>
      <div class="Sawy">
        <p class="col-lg-8">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
          dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
          qu</p>
        <img style="float: right" class="col-lg-4" src="../../assets/imgs/darwish.png" alt="">
      </div>
      <div class="Krama">
        <img style="float: left" class="col-lg-4" src="../../assets/imgs/darwish.png" alt="">
        <p class="col-lg-8">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
          dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
          qu</p>
      </div>
    </div>

  </div>
</div>
