<div class="aboutusBody">
  <div class="aboutusContainer container-fluid">

    <div class="WhoAreWe ">
      <p class="AboutUsTitle">WHO WE ARE</p>
      <div class="Content">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
          Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
          ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
          fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
          justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper
          nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
          Aliquam lorem ante, dapibus in, viverra quis, feugiat a,</p>

      </div>
    </div>

    <div class="WhatWeAre ">
      <div class="AboutUsTitle">WHAT WE DO</div>
      <div class="Content">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
          Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
          ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
          fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
          justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper
          nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
          Aliquam lorem ante, dapibus in, viverra quis, feugiat a,</p>

      </div>
    </div>


    <div class="Values">
      <p class="AboutUsTitle" style="color: #ffffff">VALUES</p>
      <div class="valuesWrapper">
        <div class="valuerow">
          <div class="ValueItem">
            <div class="itemTextWrapper">
              <h2>High quality</h2>
              <p>We took an auth on ourselves to keep our quality standards to be the highest standards in the
                market </p>
            </div>
            <img class="valuesimages" src="../../assets/imgs/quality.png" alt="">
          </div>
          <div class="ValueItem">
            <img class="valuesimages" src="../../assets/imgs/integrity.png" alt="">
            <div class="itemTextWrapper">
              <h2>Integrity</h2>
              <p>We believe that success comes from sincerity and integrity, so we always deliver what we promise </p>
            </div>
          </div>
          <div class="ValueItem">
            <div class="itemTextWrapper">
              <h2>Reliability</h2>
              <p>We believe that success comes from sincerity and integrity, so we always deliver what we promise </p>
            </div>
            <img class="valuesimages" src="../../assets/imgs/reliabilty.png" alt="">

          </div>
          <!--<div class="ValueItem">-->
            <!--<img class="valuesimages" src="../../assets/imgs/integrity.png" alt="">-->
            <!--<div class="itemTextWrapper">-->
              <!--<h2>Integrity</h2>-->
              <!--</div>-->

          <!--</div>-->
        </div>

      </div>
    </div>


    <div class="Vision">
      <p class="AboutUsTitle">VISION</p>
    </div>

    <div class="Ourstory">
      <p class="AboutUsTitle">OUR STORY</p>
    </div>

    <div class="MeetTheTeam">
      <p class="AboutUsTitle" style="color: #ffffff">MEET THE TEAM</p>
      <div class="CardWrapper">
        <div class="PersonalCard">
          <img src="../../assets/imgs/sawy.jpg" alt="">
          <div class="personalQuote"><p >&ldquo;People who love to eat are always, the best&rdquo;</p></div>
          <div class="PersonalID">
            <img src="../../assets/imgs/sawy.jpg" alt="">
            <h3>Mohamed El-Sawy</h3>
            <p>Car Tuning Specialist</p>
          </div>
        </div>
        <div class="PersonalCard">
          <img src="../../assets/imgs/amr.jpg" alt="">
          <div class="personalQuote"><p >&ldquo;People who love to eat are always, the best&rdquo;</p></div>
          <div class="PersonalID">
            <img src="../../assets/imgs/amr.jpg" alt="">
            <h3>Amr Abdullah</h3>
            <p>Accountant</p>
          </div>
        </div>
        <div class="PersonalCard">
          <img src="../../assets/imgs/Darwish.jpg" alt="">
          <div class="personalQuote"><p >&ldquo;People who love to eat are always, the best&rdquo;</p></div>
          <div class="PersonalID">
            <img src="../../assets/imgs/Darwish.jpg" alt="">
            <h3>Obada Darwish</h3>
            <p>Web developer</p>
          </div>
        </div>
        <div class="PersonalCard">
          <img src="../../assets/imgs/Darwish.jpg" alt="">
          <div class="personalQuote"><p >&ldquo;People who love to eat are always, the best&rdquo;</p></div>
          <div class="PersonalID">
            <img src="../../assets/imgs/Darwish.jpg" alt="">
            <h3>Hassan Ashraf</h3>
            <p>Aviation engineer</p>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
