
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



<body>
<header>
  <div id="LogoDiv">
    <img id="BrandLogo" src="../assets/imgs/logoFinal.png" alt="">
    <p id="BrandName"> Brand</p>
  </div>
  <div id="RightNavigation">
    <a>Home</a>
    <a>Aboutus</a>
    <a>Contactus</a>
  </div>
</header>

<div id="backgroundDiv">
  <img id="LandingBackgoundImg" src="../assets/imgs/Landingbackgroud.jpg" alt="">
  <div id="BackgroundOverlay"></div>
  <p id="LandingMotoText1">Man does not live by coffee alone...</p>
  <p id="LandingMotoText2">have a donut!</p>
  <div class="learnMoreButton">Learn More</div>
</div>



<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-5 FooterLeft">
        <a target="_blank" href="https://www.google.com.eg/maps/place/6+Kasr+Al+Nile,+Ismailia,+Qasr+an+Nile,+Cairo+Governorate/@30.0471824,31.2343647,17z/data=!3m1!4b1!4m5!3m4!1s0x145840c6e136f5fd:0xb94dfd94bcb412f6!8m2!3d30.0471824!4d31.2365534?hl=en" id="location "><i class="fa fa-2x fa-map-marker" aria-hidden="true"></i>  21, Nasr City, Cairo, Egypt</a>
        <a id="Phone "><i class="fa fa-2x fa-volume-control-phone" aria-hidden="true"></i>  +20101265485</a>
        <a id="Email "><i class="fa fa-2x fa-envelope-o" aria-hidden="true"></i>  donuts@support.com</a>
      </div>
      <div class="col-lg-3 col-sm-3 FooterCenter">
        <a ><i class="fa fa-2x fa-instagram" aria-hidden="true"></i></a>
        <a ><i class="fa fa-2x fa-facebook-square" aria-hidden="true"></i></a>
        <a ><i class="fa fa-2x fa-snapchat-square" aria-hidden="true"></i></a>

      </div>
      <div class="col-lg-4 col-sm-4 FooterRight">
        <h3>About the Compony</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient tesque eu, pretium quis, sem. Nulla consequat massa quis enim. </p>
      </div>
    </div>
  </div>
</footer>
</body>

