
  <div class="row spacer" [formGroup]="orderForm">
    <div class="col-lg-6  ">
      <label for="donutsNumber">Number of Donuts:</label>
      <input type="number" id="donutsNumber" min="50" required formControlName="DonutsNumber">
    </div>
    <div class="col-lg-6 ">
      <label for="dressing">Donuts Dressing:</label>
      <select class="form-control" id="dressing" required formControlName="DonutsDressing">
        <option value="" disabled selected>---- Choose your Dressing ----</option>
        <option>Chocolate</option>
        <option>White Chocolate</option>
        <option>Blubbery</option>
        <option>Strawberry</option>
      </select>
    </div>
    <div class="col-lg-6 ">
      <label for="toppings">Donuts Toppings</label>
      <select class="form-control" id="toppings" required formControlName="DonutsTopping" >
        <option value="" disabled selected>---- Choose your Toppings ----</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
    <div class="col-lg-6 ">
      <label>Delivery date:</label>
      <input type="date" class="deliverDate" required formControlName="DeliveryDate">
      <input type="time" class="deliveryTime" required formControlName="DeliveryTime">
    </div>
  </div>


