<div class="ProductsContiner">
  <img src="../../assets/imgs/background44.jpg" alt="">
  <div class="menuContainer container-fluid">
  <!--<div class="productNavigation ">-->
    <!--<div class="row">-->
    <!--<div class="tab col-lg-4 col-md-4 col-sm-4 col-xs-4 " routerLink="./Donuts" routerLinkActive="active"><a >Donuts</a></div>-->
    <!--<div class="tab col-lg-4 col-md-4 col-sm-4 col-xs-4" routerLink="./HotBeverage" routerLinkActive="active"><a>Hot Beverages</a></div>-->
    <!--<div class="tab col-lg-4 col-md-4 col-sm-4 col-xs-4" routerLink="./IceBeverage" routerLinkActive="active"><a>Ice Beverages</a></div>-->
    <!--</div>-->
  <!--</div>-->
  <div class="spaceing-lg"></div>
  <div class="menu container">
    <router-outlet></router-outlet>
  </div>
  </div>


</div>
