/* You can add global styles to this file, and also import other style files */

app-root #loading {
  margin-left: 45%;
  margin-top: 20%;
}

.slim-loading-bar {
  background-color: #02bac5;
}

/*---------------------------------------- Header --------------------------------------*/
header {
  position: fixed;
  z-index: 4;
  width: 100%;
}

.headeroverlay {
  position: absolute;
  background-color: #02bac5;
  width: 100%;
  height: 60px;
  margin: 0;
  display: block;
  z-index: 4;
  opacity: 1;
}

header #LogoDiv {
  position: absolute;
  background-color: rgba(0, 141, 161, 0.9);
  width: 180px;
  height: 115px;
  margin-left: 8%;
  margin-top: 0%;
  padding-left: 0.5%;
  padding-right: 0.5%;
  z-index: 5;
}

#LogoDiv #BrandLogo {
  position: absolute;
  height: 115px;
  width: 90%;
  margin-left: 0px;
  margin-top: 0px;
}

#LogoDiv #BrandName {
  position: absolute;
  font-family: Old English Text MT, sans-serif;
  font-size: 20px;
  color: #f0efee;
  margin-top: 60%;
  margin-left: 21%;
}

#LogoDiv #BrandName:hover {
  color: #ffffff;
  cursor: pointer;
}

/*header navigation floating to the right*/
header #RightNavigation {
  margin-left: 74%;
  position: absolute;
  margin-top: 0px;
  z-index: 5;
}

header #RightNavigation a {
  text-decoration: none;
  color: rgb(239, 235, 232);

  font-weight: bold;
}

#RightNavigation .Navtab {
  display: inline-block;
  height: 60px;
  width: 100px;
  padding-top: 5%;
  text-align: center;
}

#RightNavigation .Navtab:hover {
  cursor: pointer;
  background-color: #008da1;
}

#RightNavigation .Navtab:hover::after {
  content: ' ';
  height: 1px;
  width: 100%;
  background-color: orange;
  display: block;
  margin-top: 20%;
}

/* ========================== Body =========================*/
#backgroundDiv {
  position: relative;
  display: block;
  width: 100%;
  height: 990px;
}

#LandingBackgoundImg {
  position: absolute;
  width: 100%;
  height: inherit;

}

#BackgroundOverlay {
  display: none;
  position: absolute;
  background-color: #8c8c8c;
  width: 100%;
  height: inherit;
  opacity: 0.4;
}

.HomeMotivation {
  position: absolute;
  width: 100%;
  height: 30%;
  margin-top: 12%;
  text-align: center;
}

#LandingMotoText1 {

  font-family: Georgia, sans-serif;
  color: #ffffff;
  font-size: 60px;
  margin-top: 2%;
}

#LandingMotoText2 {
  font-family: Segoe Script, sans-serif;
  color: #ffffff;
  font-size: 40px;
  margin-top: 3%;
}

#LandingMotoText2 span {
  color: #cc3256;
  font-weight: bold;
}

/*=====================  Webstte Main Navigation ====================*/
.MainNavigation {
  position: absolute;
  margin-top: 38%;
  margin-left: 12%;
  padding-left: 19%;

}

.MainNavigation div {
  background-color: #ffffff;
  opacity: 0.6;
  margin: 1%;
  text-align: center;
  padding-top: 13%;
  padding-bottom: 13%;
  padding-left: 0%;
  width: 250px;
  display: inline-block;
}

.MainNavigation div:hover {
  background-color: #ffffff;
  opacity: 1;
  cursor: pointer;
}

.MainNavigation div a {
  color: black;
  font-family: Georgia, sans-serif;
  font-size: 22px;
  text-decoration: none;
  font-weight: bold;
}

/*============================ ProductsContiner ================================= */

.ProductsContiner {
  position: relative;
  display: block;
  background-color: #ffffff;
  min-height: 760px;
  margin: 0;
}

.ProductsContiner img {
  position: absolute;
  width: 100%;
}

.ProductsContiner .menuContainer {
  position: relative;
  margin-top: 0%;
  margin-left: 0%;
}

/*product Navigation*/
.productNavigation {
  position: absolute;
  display: block;
  background-color: #008da1;
  width: 40%;
  height: auto;
  margin-top: 12%;
  margin-left: 28%;
  padding-top: 0%;
}

.productNavigation .tab {
  display: inline-block;
  width: 200px;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}

.productNavigation div.tab.active {
  background-color: #02bac5;
}

.productNavigation .tab:hover {
  background-color: #02bac5;
  cursor: pointer;
}

.productNavigation .tab a {
  color: #ffffff;
  text-decoration: none;
  font-size: 25px;
  font-family: Georgia, sans-serif;
}

.ProductsContiner .menu {
  position: relative;
  margin-top: 15%;
  margin-left: 0%;
  width: 100%;
}

/*----------------------- items container ------------------------------------*/
.itemWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.itemContainer {
  position: relative;
  width: 500px;
  height: 500px;
  text-align: center;
  margin-bottom: 10%;
}

.itemContainer img {
  position: relative;
  width: 100%;
  z-index: 1;

}

.itemContainer p {
  position: relative;
  color: #008da1;
  font-size: 20px;
  font-family: Georgia, sans-serif
}

.itemContainer .itemTitle {
  display: none;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 67%;
  text-align: center;
  margin-left: 0%;
  margin-top: 0%;
  background-color: rgba(6, 6, 6, 0.6);
}

.itemContainer:hover .itemTitle {
  display: block;
}

.itemTitle p {
  color: #ffffff;
  margin-top: 3%;
}

/*======================================== Catering ================================================*/
.CateringBody {
  position: relative;
  display: block;
  min-height: 760px;
  margin: 0;
}

.CateringBody img {
  width: 100%;
  position: absolute;
}

.CateringContainer {
  position: relative;
  height: inherit;
  margin-left: 12%;
  margin-bottom: 10%;
  padding-top: 15%;

}

.CateringContainer form {
  height: auto;
  width: 100%;
  position: relative;
  margin-left: 0%;
  padding: 2%;
  border-radius: 10px;
  background: rgba(249, 233, 236, 0.95);
}

.CateringContainer p {
  color: #024d5a;
  font-weight: bold;
}

.CateringBody .CateringContainer form div {
  position: relative;
  margin-top: 1%;
  margin-bottom: 1%;
}

.CateringContainer form div label {
  font-family: Georgia, sans-serif;
  font-size: 20px;
  color: #cc3260;
  display: block;
}

.Title {
  width: 220px;
  height: 70px;
  margin-top: 4% !important;
  margin-bottom: 1%;
}

.Title p {
  color: #026977;
  font-family: Georgia, sans-serif;
  font-size: 24px;
}

.Title p::after {
  content: ' ';
  display: block;
  height: 1px;
  width: 25%;
  background-color: #cc3260;
}

.CateringButton {
  margin-left: 85%;
  margin-top: 5%;
  margin-bottom: 2%;
}

.CateringAddMore {
  height: 30px;
  width: 200px;
  background-color: #008da1;
  text-align: center;
  padding-top: 2px;
  margin-left: 38%;
  margin-top: 3% !important;
  color: #ffffff;
}

.CateringAddMore:hover {
  background-color: #00A1B5;
  cursor: pointer;
}

.fa-plus {
  color: #ffffff;
  margin-left: 8px;
}

.deliverDate {
  height: 40px;
  width: 50%;
  font-size: 18px;
  color: gray;
  border-radius: 4px;
}

.deliveryTime {
  height: 40px;
  width: 49%;
  font-size: 18px;
  color: gray;
  border-radius: 4px;
}

#donutsNumber {
  width: 100%;
  height: 38px;
  border-radius: 4px;
}

/*========================================= about us ===============================================*/
.aboutusBody {

  position: relative;
  display: block;
  min-height: 760px;
  margin: 0;
}

.aboutusContainer {
  position: relative;
  height: inherit;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 0%;
  padding-top: 15%;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.WhoAreWe {
  height: 350px;
  width: 700px;
  text-align: center;
  border: 1px solid #b9b9b9;
  box-shadow: 1px 1px 5px;
  margin-bottom: 2%;
}

.WhatWeAre {
  height: 350px;
  width: 700px;
  text-align: center;
  border: 1px solid #b9b9b9;
  box-shadow: 1px 1px 5px;
  margin-bottom: 2%;
}
.Content {
  position: relative;
  margin-top: 7%;
  text-align: center;
  padding: 2%;
}
.AboutUsTitle {
  margin-top: 3%;
  margin-bottom: 2%;
  font-size: 25px;
  color: #cc3256;
}
.AboutUsTitle::after{
  content: '';
  display: block;
  height: 1px;
  width: 10%;
  margin-left: 45%;
  background-color: #02bac5;
}

/*================================ Vision ===========================*/
.Vision {
  position: relative;
  height: 400px;
  width: 100%;
  text-align: center;
  background: #dadada;
}

/*================================ our story ===================*/
.Ourstory {
  text-align: center;
  width: 100%;
  position: relative;
  height: 400px;

}

/*================================ values ===========================*/
.Values {
  border: 1px solid #b9b9b9;
  box-shadow: 1px 1px 5px;
  position: relative;
  height: 515px;
  width: 100%;
  text-align: center;
}
.valuesWrapper{
  width:100%;
  position: relative;
  height: 400px;
}

.Coverimg {
  width: 100%;
  height: inherit;
}

.CoverOverlay {
  width: 100%;
  height: inherit;
  position: absolute ;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);

}
.valuerow{
  width: 100%;
  position: absolute;
  z-index: 2;
  height: inherit;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.ValueItem{
  width:250px ;
  height:inherit;
  padding-top: 7%;
}
.valuesimages
{
  width: 100%;
  height: 150px;
}
.ValueItem h2 {
  color: #ffffff;
  font-family: Georgia,sans-serif;

}
/*===================================== Meet the team ===============================*/
.MeetTheTeam {
  text-align: center;
  width: 100%;
  position: relative;
  background: #dadada;

}
.CardWrapper{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 5%;
  margin-bottom: 5%;
}


.MeetTheTeam .PersonalCard {
  position: relative;
  width: 330px;
  text-align: center;
  background: #ffffff;
}
.PersonalCard img {
  width: 100%;
  height: 280px;
  margin-bottom: 5%;
}

.MeetTheTeam .PersonalIntro{
  font-family: Georgia,sans-serif;
  font-size: 16px;
  color: #000000;
}
.MeetTheTeam .PersonalIntro::after{
  display: block;
  content: '';
  height: 3px;
  background: #dadada;
  width: 100%;
}
.MeetTheTeam .PersonalID{
  width: 100%;
}
.PersonalID img{
  width: 80px;
  height: 80px;
  border-radius: 100px;
}
/*============================ Footer ======================*/
footer {
  background-color: #02bac5;
  width: 100%;
  height: auto;
  position: relative;
  display: block;
  margin: 0;
  padding: 1%;
}

.FooterLeft a {
  text-decoration: none;
  color: rgb(239, 235, 232);
  display: block;
  margin: 5px;
  margin-bottom: 15px;
  margin-top: 10px;
  width: auto;

}

.FooterLeft a:hover {
  color: #ffffff;
  cursor: pointer;
}

.FooterRight {
  padding: 0;
}

.FooterRight h3 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 5%;
}

.FooterRight p {
  font-size: 12px;
  color: #ffffff;
  margin-left: 15px;
}

.FooterCenter {
  margin-top: 5%;
}

.FooterCenter a {
  color: #ffffff;
  width: 2px;
  margin-right: 20px;

}

.FooterCenter a:hover {
  cursor: pointer;
}

/*---------------------------------- spaces -----------------------------------------------------*/
.spaceing {
  height: 20px;
}

.spaceing-sm {
  height: 30px;
}

.spaceing-md {
  height: 50px;
}

.spaceing-lg {
  height: 100px;
}

/*=================== font awsome icons =====================*/

.fa-times:hover {
  cursor: pointer;
}

.fa-map-marker {
  color: #f8f7f6;
  margin-right: 10px;
}

.fa-map-marker:hover {
  color: #ffffff;
  cursor: pointer;
}

.fa-volume-control-phone {
  color: #f8f7f6;
  margin-right: 10px;
}

.fa-volume-control-phone:hover {
  color: #ffffff;
  cursor: pointer;
}

.fa-envelope-o {
  color: #f8f7f6;
  margin-right: 10px;
}

.fa-envelope-o:hover {
  color: #ffffff;
  cursor: pointer;
}

.fa-instagram {
  color: #f8f7f6;
}

.fa-instagram:hover {
  color: #e95950
}

.fa-facebook-square {
  color: #f8f7f6;
}

.fa-facebook-square:hover {
  color: #3b5998
}

.fa-snapchat-square {
  color: #ffffff;
}

.fa-snapchat-square:hover {
  color: #fffc00;
}

@media screen and (max-height: 740px) and (max-width: 500px) {
  #LogoDiv {
    display: none
  }

  #backgroundDiv {
    height: 400px;
  }

  .HomeMotivation {
    margin-top: 30%;
  }

  #LandingMotoText1 {
    font-size: 20px;
  }

  #LandingMotoText2 {
    font-size: 20px;
  }

  .learnMoreButton {
    margin-top: 45%;
    margin-left: 27%;
  }

  header #RightNavigation {

    margin-left: 0%;
  }

  header #RightNavigation a {
    font-size: 12px;
    margin-right: 0%;
  }

  .MainNavigation {
    margin-top: 65%;
    margin-left: 8%;
    width: 80%;
    display: block;

  }

  .MainNavigation div {
    width: 80%;
    height: 50px;
    text-align: center;
    padding-top: 6%;
    padding-bottom: 6%;

  }

  .MainNavigation div a {
    font-size: 12px;
  }

  .FooterLeft {
    margin-left: 12%;
  }

  .FooterCenter {
    margin-left: 30%;
  }

  .productNavigation {
    margin-top: 25%;
    margin-left: 5%;
    width: auto;
  }

  .productNavigation .tab {
    width: 120px;
  }

  .productNavigation .tab a {
    font-size: 12px;
  }

  .itemContainer {
    width: 250px;
    height: 300px;
    margin-left: 16%;
  }

  .ProductsContiner .menu {
    margin-left: 0%;
    margin-top: 20%;
  }

  .itemContainer p {
    font-size: 12px
  }

  .CateringContainer {
    margin-left: 0%;
    margin-top: 0%;
    padding-top: 30%;
    padding-left: 2%;
  }
  .CateringButton{
    margin-left: 70%;
  }
.Content p {
  font-size: 12px;
}
  .ValueItem{
    width:200px ;
  }
  .valuesimages
  {
    width: 100%;
    height: 100px;
  }
  .ValueItem h2 {
    font-size: 16px;
  }
  .valuerow{
    margin-top: 30%
  }

}
