<div id="backgroundDiv">
  <img id="LandingBackgoundImg" src="../assets/imgs/Landingbackgroud2.jpg" alt="">
  <div id="BackgroundOverlay"></div>
  <div class="HomeMotivation">
    <p id="LandingMotoText1">Man does not live by coffee alone...</p>
    <p id="LandingMotoText2">Treat yourself! ...have a <span>DONUT!</span></p>
  </div>
  <div class="container MainNavigation">

    <div routerLink="/Products">
      <p>Products</p>
      <img src="../../assets/imgs/products.jpg" alt="">
    </div>
    <div routerLink="/Catering"><p>Catering</p>
      <img src="../../assets/imgs/products.jpg" alt="">
    </div>


  </div>

</div>


