
<div id="backgroundDiv">
  <img id="LandingBackgoundImg" src="../assets/imgs/Landingbackgroud.jpg" alt="">
  <div id="BackgroundOverlay"></div>
  <p id="LandingMotoText1">Man does not live by coffee alone...</p>
  <p id="LandingMotoText2">have a donut!</p>

<div class="container MainNavifation">
  <div class="row">
    <p class="col-lg-4 col-md-4 col-sm-4 col-xs-4" ></p>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" routerLink="/Products"><a >Products</a></div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" routerLink="/Catering"> <a >Catering</a> </div>
  </div>
  <div>
  </div>
</div>
</div>

