<div id="backgroundDiv">
  <img id="LandingBackgoundImg" src="../assets/imgs/Landingbackgroud.jpg" alt="">
  <div id="BackgroundOverlay"></div>
  <div class="HomeMotivation">
  <p id="LandingMotoText1">Man does not live by coffee alone...</p>
  <p id="LandingMotoText2">Treat yourself! ...have a <span>DONUT!</span></p>
  </div>
  <div class="container MainNavigation">

    <div routerLink="/Products"><a>Products</a></div>
    <div routerLink="/Catering"><a>Catering</a></div>


  </div>

</div>


